<main class="page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">{{error.status}}</h2>
                <p>{{error.message}}</p>
            </div>
        </div>
    </section>
</main>